@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lato', sans-serif;
}

body {
    color: #555;
    background-color: #f5f5f5;
    letter-spacing: .5px;
}

img {
    max-width: 100%;
    border: 5px #fff solid;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #1990b6;
}

a:hover, a:active {
    color: #1aa5cd;
}

/******************************/
/**          HEADER          **/
/******************************/

header {
    background-color: #466a83;
    padding: 10px 20px 40px;
}

.menu-item {
    font-size: 85%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c9c9c9;
}

.menu-item-label {
    height: 40px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    border-right: 1px solid #7eb0cc;
    padding: 0 20px;
}

.menu-item-more {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.menu-item-more svg {
    fill: #294f6c;
}

.menu-item-more .down {
    display: none;
}

.menu-trigger .menu-item {
    background-color: #294f6c;
    color: #fdfdff;
}

.menu-items .menu-item-label {
    border-right: 1px solid #c9c9c9;
}

.menu-items .menu-item {
    background-color: #e9f1f6;
    color: #294f6c;
}

.action {
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.action > a > span {
    margin: 0 10px;
}

.action .icon {
    fill: #777;
}

.action a {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #c0c3c2;
    background-color: #e3e7df;
    color:  #777;
    font-size: 90%;
    border-radius: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/******************************/
/**           MAIN           **/
/******************************/

main {
    margin: 60px 30px 40px;
}

article {
    margin: 0 0 20px;
}

article h2 {
    font-size: 125%;
    margin: 10px 0 15px;
}

article p {
    line-height: 1.5em;
}

article a.read-more {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 12px;
    font-weight: 100;
    font-size: 85%;
    color: #555;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: linear-gradient(180deg, #fff 0%, #eee 100%);
}


/******************************/
/**           OTHER          **/
/******************************/

h3.other-articles-title {
    margin: 60px 30px 20px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 85%;
    color: #888;
    border-bottom: 1px #ccc solid;
}

section.other-articles {
    margin: 10px 30px 40px;
}

/******************************/
/**         SERVICES         **/
/******************************/

section.services {
    margin: 60px 0 0;
    padding: 40px 30px 100px;
    background: #cce2e9 url(https://staffanstorp.se/wp-content/themes/Staffanstorp/i/sidfot.png) center bottom repeat-x;
}

.service {
    margin: 0 0 40px;
    font-size: 90%;
}

.service h2 {
    margin: 10px 0 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 700;
    border-bottom: 1px #aaa solid;
}

.service .image {
    margin-bottom: 5px;
}
.service p {
    font-size: 90%;
    margin: 0 5px;
    line-height: 1.5em;
}


/******************************/
/**          FOOTER          **/
/******************************/

footer {
    background-color: #164A69;
}

footer .container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 5px;
    color: #a1b3bf;
    font-size: 80%;
}

footer a {
    border-bottom: 1px dotted #7b8a92;
}

footer a:link, footer a:visited {
    color: #a1b3bf;
}

footer a:hover, footer a:active {
    color: #a1b3bf;
}

footer .item {
    position: relative;
    padding: 3px 10px;
    border-right: 1px #222 solid;
}
footer .item::after {
    position: absolute;
    right: -2px;
    top: 0;
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border-left: 1px #35607c solid;
}

footer .item:last-child {
    border-right: 0;
}

footer .item:last-child::after {
    content: none;
}






@media screen and (min-width: 600px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }
    .menu-items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .menu-trigger {
        display: none;
    }

    .menu-item {
        margin: 15px 15px 0 0;
    }

    .menu-item-label {
        height: 30px;
        width: calc(100% - 30px);
        padding: 0 10px;
    }

    .menu-item-more {
        height: 30px;
        width: 30px;
    }

    .menu-item-more .plus {
        display: none;
    }

    .menu-item-more .down {
        display: inline;
    }

    main article {
        display: flex;
        flex-wrap: wrap;
    }

    main article .image {
        width: 60%;
        order: 2;
    }

    main article > div {
        width: 40%;
    }

    section.other-articles .container {
        display: flex;
        justify-content: space-between;
    }

    section.other-articles article {
        width: 30%;
    }

    section.services .container {
        display: flex;
        justify-content: space-between;
    }

    section.services .service {
        width: 24%;
    }
}
